.sidebar-right
  .row-fluid
    %section#page-sidebar.alignleft.span8
      .page-title.clearfix
        %h1 Blog Updates
        %span Lorem ipsum dolor sit amet consectetuer elit sed diam
      = render partial: 'form'
