.span4
  %article.divider-blok
    %h3.title
      %img{src: "assets/star.png"}/
      %a{href: "#"} Fully Responsive Theme
    %p
      Lorem ipsum dolor sit amet, consec tetuer adipi scing elit, sed diam nonu mmy nibh eui smod tincidunt ut laoreet dolore magna aliq uam erat volutpat ad minim veniam
.span4
  %article.divider-blok
    %h3.title
      %img{src: "assets/secure.png"}/
      %a{href: "#"} Search Engine Optimization
    %p
      Lorem ipsum dolor sit amet, consec tetuer adipi scing elit, sed diam nonu mmy nibh eui smod tincidunt ut laoreet dolore magna aliq uam erat volutpat ad minim veniam
.span4
  %article.divider-blok
    %h3.title
      %img{src: "assets/envelope.png"}/
      %a{href: "#"} Human Friendly Code
    %p
      Lorem ipsum dolor sit amet, consec tetuer adipi scing elit, sed diam nonu mmy nibh eui smod tincidunt ut laoreet dolore magna aliq uam erat volutpat ad minim veniam