%footer#footer-menu
  .row-fluid
    %p.span8
      © 2012 Yoko. A Responsive Website template by
      %a{:href => "http://dxthemes.com", :style => "color:#e1e1e1"} DxThemes
    %p.span4
      %span.pull-right Copyright 2012 - All Rights Reserved