#mainslider.flexslider
  %ul.slides
    %li
      %img{alt: "photo", src: "assets/slide1.jpg"}/
      .slider-caption-right.hidden-phone
        %h5 Hello, world!
        %p
          This is a simple hero unit, a simple jumbotron-style component
          for calling extra attention to featured content or information.
          Lorem ipsum dolor sit amet qui qunta negat omnia dat arma teneti.
    %li
      %img{alt: "photo", src: "assets/slide3.jpg"}/
      .slider-caption-right.hidden-phone
        %h5 Contra brevita bellum!
        %p
          This is a simple hero unit, a simple jumbotron-style component
          for calling extra attention to featured content or information.