.row-fluid
  %section#page.span12
    .page-title.clearfix
      %h1 About Us
      %span Lorem ipsum dolor sit amet consectetuer elit sed diam
    .row-fluid
      .span12
        %h3 What We Do?
        %p Duo probo dicunt efficiendi in, cu vim graecis invidunt, nemore patrioque pri id. Mei aliquip menandri ea. Ex pri dictas petentium constituto, cum cu facilis blandit. Dicat summo duo ea, ex sed assum delicatissimi. Has pertinax pericula accommodare ei, diam facer deterruisset eum et.
        %blockquote
          %p Est audiam urbanitas omittantur an, eum suas tota delectus an. Cu pro graece aliquando abhorreant. An usu sensibus disputationi consectetuer. His ridens tamquam prodesset id.
        %small Something Important
        = image_tag("about1.jpg")
    %hr
    .row-fluid
      .span6
        %h3 About Us
        %p Cu vis integre placerat vim ut justo reprimique siame voluptatibus, unum doctus abhorreant an sea. Adrob epicuri adversarium usu, et per oblique vocibus ame hendrerit In cum erant insolens, ut mundi oratiograe sedat vel augue putent euismod. Qui cu verear facer antiopam At mea malorum epicuri accumsan Persi deleniti sapientem no vel, nec nobis equidem et. Ex laoreet persecuti mei, no ius lobortis interesset in appetere tamquam sensibus salutandi sit ne, nec et illum intellegam, mea suas nusquam nominavi ne. His quod quodsi recteque ut, duis constituam sit no.
      .span6
        %h3 Web Development
        %p Cu vis integre placerat vim ut justo reprimique siame voluptatibus, unum doctus abhorreant an sea. Adrob epicuri adversarium usu, et per oblique vocibus ame hendrerit In cum erant insolens, ut mundi oratiograe sedat vel augue putent euismod. Qui cu verear facer antiopam At mea malorum epicuri accumsan Persi deleniti sapientem no vel, nec nobis equidem et. Ex laoreet persecuti mei, no ius lobortis interesset in appetere tamquam sensibus salutandi sit ne, nec et illum intellegam, mea suas nusquam nominavi ne. His quod quodsi recteque ut, duis constituam sit no. Ex laoreet persecuti mei, no ius lobortis interesset in appetere tamquam sensibus salutandi sit ne, nec et illum intellegam, mea suas nusquam nominavi ne.
    %hr
    .row-fluid
      .aboutus.span12
        %h3
          Qui cu verear facer antiopam At mea malorum epicuri
          %span.color2 accumsan Persi
          deleniti sapientem no vel, nec nobis equidem et.
    %hr
    .row-fluid.bottom30
      .span6
        %h3 SEO
        %p Cu vis integre placerat vim ut justo reprimique siame voluptatibus, unum doctus abhorreant an sea. Adrob epicuri adversarium usu, et per oblique vocibus ame hendrerit In cum erant insolens, ut mundi oratiograe sedat vel augue putent euismod. Qui cu verear facer antiopam At mea malorum epicuri accumsan Persi deleniti sapientem no vel, nec nobis equidem et. Ex laoreet persecuti mei, no ius lobortis interesset in appetere tamquam sensibus salutandi sit ne, nec et illum intellegam, mea suas nusquam nominavi ne. His quod quodsi recteque ut, duis constituam sit no.
      .span6
        %h3 Mobile website
        %p Cu vis integre placerat vim ut justo reprimique siame voluptatibus, unum doctus abhorreant an sea. Adrob epicuri adversarium usu, et per oblique vocibus ame hendrerit In cum erant insolens, ut mundi oratiograe sedat vel augue putent euismod. Qui cu verear facer antiopam At mea malorum epicuri accumsan Persi deleniti sapientem no vel, nec nobis equidem et. Ex laoreet persecuti mei, no ius lobortis interesset in appetere tamquam sensibus salutandi sit ne, nec et illum intellegam, mea suas nusquam nominavi ne. His quod quodsi recteque ut, duis constituam sit no. Ex laoreet persecuti mei, no ius lobortis interesset in appetere tamquam sensibus salutandi sit ne, nec et illum intellegam, mea suas nusquam nominavi ne.
