.page-title.clearfix
  %h1 Our Services
  %span Lorem ipsum dolor sit amet consectetuer elit sed diam
.row.latest-blog
  / page
  .span4
    .tagline
      %h3 Custom Backgrounds
    %p Donec tristique rhoncus libero vitae cursus. Morbi commodo, massa non lobortis rutrum, tortor risus viverra. Donec cursus fringilla aliquet.
    %ul.list-1
      %li
        %a{href: "#"} Praesent vestibulum molestie
      %li
        %a{href: "#"} Aenean nonummy hendrerit mauris
      %li
        %a{href: "#"} Phasellus porta. Fusce suscipit
      %li
        %a{href: "#"} Nulla dui. Fusce feugiat
  .span4
    .tagline
      %h3 Clean and Modern Design
    %p Donec tristique rhoncus libero vitae cursus. Morbi commodo, massa non lobortis rutrum, tortor risus viverra. Donec cursus fringilla aliquet.
    %ul.list-1
      %li
        %a{href: "#"} Praesent vestibulum molestie
      %li
        %a{href: "#"} Aenean nonummy hendrerit mauris
      %li
        %a{href: "#"} Phasellus porta. Fusce suscipit
      %li
        %a{href: "#"} Nulla dui. Fusce feugiat
  .span4
    .tagline
      %h3 Easy to Customize
    %p Donec tristique rhoncus libero vitae cursus. Morbi commodo, massa non lobortis rutrum, tortor risus viverra. Donec cursus fringilla aliquet.
    %ul.list-1
      %li
        %a{href: "#"} Praesent vestibulum molestie
      %li
        %a{href: "#"} Aenean nonummy hendrerit mauris
      %li
        %a{href: "#"} Phasellus porta. Fusce suscipit
      %li
        %a{href: "#"} Nulla dui. Fusce feugiat
%hr/
.row.aligncenter
  %h2
    Lorem ipsum dolor sit amet, elscitere
    = succeed "," do
      %span.color2 consectetur elit
  %p Nulla sit amet iaculis consectetur. Pellentesque dolor, lobortis at rhoncus a quis dolor. Pellentesque mi lorem.
  %p
    %a.btn.btn-primary.btn-large{ href: about_us_path } Узнайте больше
    \&nbsp
    %em.hidden-phone –или–
    \&nbsp
    %a.btn.btn-danger.btn-large{ href: jobs_path } Присоединяйтесь к нашей команде
%hr/
.row
  .span4
    %div
      %h4 Our Team
      %figure.figure-1.ident-bot-2
        %a.lightbox-image.img-border-bg.left-image{href: "assets/team-1.jpg", rel: "prettyPhoto"}
          %img.img-border{alt: "", src: "assets/team-1.jpg"}/
        %a.lightbox-image.img-border-bg.right-image{href: "assets/team-2.jpg", rel: "prettyPhoto"}
          %img.img-border{alt: "", src: "assets/team-2.jpg"}/
      %figure.figure-1.ident-bot-2
        %a.lightbox-image.img-border-bg.left-image{href: "assets/team-1.jpg", rel: "prettyPhoto"}
          %img.img-border{alt: "", src: "assets/team-1.jpg"}/
        %a.lightbox-image.img-border-bg.right-image{href: "assets/team-2.jpg", rel: "prettyPhoto"}
          %img.img-border{alt: "", src: "assets/team-2.jpg"}/
      %figure.figure-1.figure-3
        %a.lightbox-image.img-border-bg.left-image{href: "assets/team-3.jpg", rel: "prettyPhoto"}
          %img.img-border{alt: "", src: "assets/team-3.jpg"}/
        %a.lightbox-image.img-border-bg.right-image{href: "assets/team-4.jpg", rel: "prettyPhoto"}
          %img.img-border{alt: "", src: "assets/team-4.jpg"}/
  .span8
    .span4.service
      %h4 Additional Service
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lacus rhoncus elit egestas luctus. Nullam at lectus augue. Ut tristique consectetur elit, sed tincidunt elit iaculis in. In hac habitasse platea dictumst. Curabitur condimentum justo sed urna porttitor aliquam. Pellentesque consequat odio sed felis commodo aliquet. ugue. Ut tristique consectetur elit, sed tincidunt elit iaculis in. In hac habitasse platea dictumst. Curabitur
    .span4.service.img-border-bg
      %img.img-border{alt: "images", src: "assets/serv1.jpg", width: "30%"}/
    %hr.soft/
    .span4.service
      %h4 Ask for More
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lacus rhoncus elit egestas luctus. Nullam at lectus augue. Ut tristique consectetur elit, sed tincidunt elit iaculis in. In hac habitasse platea dictumst. Curabitur condimentum justo sed urna porttitor aliquam. Pellentesque consequat odio sed felis commodo aliquet. ugue. Ut tristique consectetur elit, sed tincidunt elit iaculis in. In hac habitasse platea dictumst. Curabitur
    .span4.service.img-border-bg
      %img.img-border{alt: "images", src: "assets/serv1.jpg", width: "30%"}/
%hr/
